{% extends 'home/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	#id_invitation_code{ 
		text-transform:uppercase
	}
</style>
<div class="container">
	<br>
	<h1>Update Your Invitation Code</h1>
	<p class="lead">{{ request.user.first_name }}, your mailed invitation has a code on it that will grant other permissions like RSVP & Keg voting. </p>
	<hr>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
				{{ form|crispy }}
				<input class="btn btn-primary" type="submit" value="Update Code" />
			</form>
		</div>
		<div class="col"></div>
	</div>
</div>
{% endblock %}