{% extends 'home/nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
	<br>
	<h1 class="display-3 text-center">Login With Facebook</h1>

	<hr>
	<div class="alert alert-info">FaceBook Changed some of their login settings. Should work now if you were having problems before -Austin</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-lg-4">
			<div class="text-center">
				<a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}"><span class="fa fa-facebook-official"></span> Login with Facebook</a>
				<a class="btn btn-outline-dark" href="mailto:austinbakos@yahoo.com">RSVP via Email</a>
				<br>
			</div>
			
		</div>
		<div class="col"></div>
	</div>
	<br>
	<div style="padding-top: 90px" class="text-center">
		
	</div>
</div>
  {% endblock %}