{% extends 'home/nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style type="text/css">
	.bot {
   position:absolute;
   bottom:0;
   padding-bottom: 50px;
}
</style>
<div class="container">
	<br>
	<h1 class="display-3 text-center">Login With Facebook</h1>
	<hr>
	<div class="row">
		<div class="col"></div>
		<div class="col-lg-4">
			<div class="text-center">
				<a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}"><span class="fa fa-facebook-official"></span> Login with Facebook</a>
				<br>
			</div>
			
		</div>
		<div class="col"></div>
	</div>
	<div class="row bot">
		<div class="col"></div>
		<div class="col-lg-8">
			<p class="lead">I developed our wedding site with the Python Framework <a href="https://www.djangoproject.com">Django</a>. I am hosting it via <a href="https://www.openshift.com">Redhat OpenShift</a> which is PaaS and uses <a href="https://www.docker.com">Docker</a> & <a href="https://kubernetes.io">kubernetes</a>. -Austin</p>
		</div>
		<div class="col"></div>
	</div>
</div>
  {% endblock %}