{% extends 'home/nav.html' %}
{% load static %}
{% block content %}
<style>
	body, html {
	    height: 100%;
	    margin: 0;
	    background-color: #dfe6e9

	}

	.graduation{
	    /* The image used */
	    background-image: url({% static "home/img/IMG_256223.jpg" %});

	    /* Full height */
	    height: 70vh; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.boston{
	    /* The image used */
	    background-image: url({% static "home/img/boston.jpg" %});

	    /* Full height */
	    height: 70vh; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.treeline{
	    /* The image used */
	    background-image: url({% static "home/img/treeline.jpg" %});

	    /* Full height */
	    height: 65vh; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.arial{
	    /* The image used */
	    background-image: url({% static "home/img/arial.jpg" %});

	    /* Full height */
	    height: 90vh; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.title {

	   background: rgba(255,255,255,0.5) /*linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/ /* Standard syntax (must be last) */
	}
	h2, .menu-selector #navbuttontop {
	    font-family: "Raleway",Arial,sans-serif;
	    font-style: normal;
	    font-size: 2.5rem;
	    line-height: 1.3em;
	    letter-spacing: 1px;
	    font-family: "abril-text";
	    font-size: 2.5rem;
	    line-height: 1.5em;
	    text-transform: none;
	    letter-spacing: 0px;
	    font-weight: 400;
	    
	}
	h1{
		font-weight: 200;
		font-size: 3.5rem;


	}

	.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
}



</style>

<div class="treeline"></div>
<section   >
	<div style="padding: 20px;" class=" container">
		<h1 ></h1>
		<p class="lead text-muted">We met 8 years ago back in the summer of 2010. There has always been something between us. It all started when I (Austin) would drive to go see Ashley in the middle of the night. We were only about 17 at the time and we would just lay under the stars and talk for hours. It’s so funny how it is all so clear now… and easy to say we should have known. That’s the best part about life… learning and loving along the way.</p>

	</div>
</section>
<section>
	<div  class="row">
		<div style="background-color: #3c6382; color: white" class="col-sm-8">
			<div style="padding-top: 20px; padding-bottom: 50px" class="container text-center">
				<h1>Throwback!</h1>
				<p class="lead">
					We went to Ashley’s sister’s wedding together back in 2011! 
				</p>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<img class="img img-fluid" src="{% static "home/img/old.jpg" %}">
		</div>
		
	</div>

</section>
<br>
<section  >
	<div class="boston"></div>
	<div style="padding: 20px;" class=" container">
		<h1 ></h1>
		<p class="lead text-muted">
			We recently moved to Boston’s Seaport District to be closer to Austin’s work. What an awesome experience. It was just the two of us in a high class studio apartment in Boston’s most up and coming location. We had epic views with an amazing roof deck. We set our goals high & managed to get numerous raises and promotions in just a small time living there. However, we quickly realized just how much we don’t belong in a city. We decided to move back to the loving woods of New Hampshire's seaport where the ideals of life make a lot more sense. Now we know! 
		</p>

	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<img style="width: 100%;" class="img img-fluid" src="{% static "home/img/roofdeck.jpg" %}">
		</div>
		<div class="col-sm-6 text-center">
			<img style="width: 100%;" class="img img-fluid" height="100%"  src="{% static "home/img/apartment.jpg" %}">
		</div>
	</div>
	<div  class="row">
		<div style="background-color: white" class="col-sm-6"></div>
		

		
	</div>
</section>
<div class="graduation"></div>


{% endblock %}