{% extends 'home/nav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	body, html {
	    height: 100%;
	    margin: 0;
	}

	.ocean{
	    /* The image used */
	    background-image: url({% static "home/img/IMG_2318.jpg" %});

	    /* Full height */
	    min-height: 100vh; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.title {

	   background: rgba(0,0,0,0.5) /*linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/ /* Standard syntax (must be last) */
	 
	}
	h2, .menu-selector #navbuttontop {
	    font-family: "Raleway",Arial,sans-serif;
	    font-style: normal;
	    font-size: 2.5rem;
	    line-height: 1.3em;
	    letter-spacing: 1px;
	    font-family: "abril-text";
	    font-size: 2.5rem;
	    line-height: 1.5em;
	    text-transform: none;
	    letter-spacing: 0px;
	    font-weight: 400;
	    
	}
	

</style>
<div class="ocean">

	<div class="container">
		<div style="padding-bottom: 45vh;"  class="row">
			<h1 style="color: white; padding-top: 30px" class="display-4 col text-right">Join Us</h1>
		</div>
	</div>
	<div class="title">
		<div class="container">
		<div class="row">
			<div class="col  text-white ">
				<form enctype="multipart/form-data" action="" method="post">
					<br>
					{% csrf_token %}
					{% for field in form %}
						{% if forloop.counter0 == 1 and perms.rsvp.can_add_plus_one %}
							{{ field|as_crispy_field }}
						{% elif forloop.counter0 != 1 %}
							{{ field|as_crispy_field }}
						{% endif %}
						
					{% endfor %}
					<input class="btn btn-primary" type="submit" value="Submit RSVP" />
				</form>
				<br>
			</div>
		</div>
	</div>
	</div>
</div>

{% endblock %}